<div class="jumbotron text-center">
    <h1><span class="fa fa-lock color-pink"></span></h1>
    <h1>Budget Manager,</h1>
    <h1><small>faites-vous confiance !</small></h1>
    <p>Connectez-vous ou enregistrez-vous: </p>

    <a ui-sref="login" class="btn btn-primary btn-lg xs-mb-10"><span class="fa fa-sign-in"></span> Connexion</a>
    <a ui-sref="signup" class="btn btn-info btn-lg small-left-separation xs-no-ml"><span class="fa fa-user-plus"></span>
        Inscription</a>
    <!--<a href="/authenticate/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Connexion via Twitter</a>-->
</div>