<div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span></h1>
    <h1>Budget Manager,</h1>
    <h1><small>faites-vous confiance !</small></h1>
    <p>Connectez-vous ou enregistrez-vous avec:</p>

    <a ui-sref="login" class="btn btn-default"><span class="fa fa-user"></span> Connexion</a>
    <a ui-sref="signup" class="btn btn-default"><span class="fa fa-user"></span> Inscription</a>
    <a href="/authenticate/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Connexion via Twitter</a>
</div>