<div class="centered panel panel-default without-margin">
    <div class="panel-heading">
        <h4 class="h4-responsive">Détails du mouvement <strong><em>{{movement.name}}</em></strong></h4>
    </div>
    <div class="panel-body">
        <table class="table no-margin-bottom">
            <tbody>
            <tr>
                <td class="col-md-1 col-xs-2"><strong>Montant</strong></td>
                <td>{{movement.amount}}€</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td>
                    <span ng-show="movement.type === 'up'" style="color:green" class="fa fa-arrow-up"></span>
                    <span ng-show="movement.type === 'down'" style="color:red" class="fa fa-arrow-down"></span>
                </td>
            </tr>
            <tr>
                <td><strong>Répétition(s)</strong></td>
                <td>{{movement.repeat}}</td>
            </tr>
            <tr>
                <td><strong>Commentaire</strong></td>
                <td>{{movement.comment}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>