<div class="centered panel panel-default without-margin">
    <div class="panel-heading">
        <h5 ng-if="mode == modes.create" class="h5-responsive">Ajouter un mouvement à <strong><em>{{provisionalPlanTitle}}</em></strong>
        </h5>
        <h5 ng-if="mode == modes.edit" class="h5-responsive">Editer un mouvement de
            <strong><em>{{provisionalPlanTitle}}</em></strong></h5>
    </div>
    <div class="panel-body">
        <form role="form">
            <!--<input type="hidden" ng-model="movement.id"/>-->
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" placeholder="Nom"
                       ng-model="movement.name" required>
            </div>
            <div class="form-group">
                <label for="amount">Montant</label>

                <input type="text" class="form-control" id="amount" placeholder="Montant"
                           ng-model="movement.amount" required>
            </div>
            <div class="form-group">
                <label for="optionsRadios">Type de mouvement</label>

                <div class="radio-inline">
                        <label>
                            <input checked type="radio" name="optionsRadios" id="optionsRadios" value="down"
                                   ng-model="movement.type">
                            Déscendant
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="up"
                                   ng-model="movement.type">
                            Montant
                        </label>
                    </div>
            </div>
            <div class="form-group">
                <label for="repeat">Répétitions</label>

                <input type="text" class="form-control" id="repeat" placeholder="Répétitions"
                           ng-model="movement.repeat" required>
            </div>
            <div class="form-group">
                <label for="comment">Commentaire</label>

                <input type="text" class="form-control" id="comment" placeholder="Commentaire"
                           ng-model="movement.comment" required>
            </div>
        </form>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="ok()">Enregistrer</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
        <br/>
    </div>
</div>