<div class="row">
    <div class="col-sm-12 text-center">
        <h1>{{provisionalPlanListCtrl.multiplicityTitle}}
            <small>{{provisionalPlanListCtrl.pluralTitle}}</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center medium-bordered">
        <button class="btn btn-lg btn-info btn-lg-responsive"
                ng-click="provisionalPlanListCtrl.openModalToAddProvisionalPlanClickListener()">Nouveau plan prévisionnel
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <provisional-plan-preview-cmp
                ng-repeat="provisionalPlan in provisionalPlanListCtrl.provisionalPlans | orderBy:'-createdAt' "
                provisional-plan="provisionalPlan"
                ui-sref="provisionalPlanDetails({id:provisionalPlan.id})">
        </provisional-plan-preview-cmp>
    </div>
</div>
