<div class="panel panel-default cursor">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <strong>
                        {{::provisionalPlanPreviewCtrl.provisionalPlan.name}}
                    </strong>:
          <span ng-style="::provisionalPlanPreviewCtrl.style">
            {{::provisionalPlanPreviewCtrl.totalOfMovements}}{{::$root.devise}}
          </span>
                </h4>
            </div>
        </div>
    </div>
</div>
