<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <strong>
                        {{provisionalPlan.name}}
                    </strong>:
                <span ng-style="getTotalMovementsOf(provisionalPlan) > 0 ? {'color':'green'} : {'color':'red'}">
                    {{getTotalMovementsOf(provisionalPlan)}}€
                </span>
                </h4>
            </div>
            <div class="col-md-6 text-right">
                <h4>
                    <a ng-click="deleteClickListener(provisionalPlan)" href
                       class="link-color-inverse small-left-separation link-no-decoration">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a ng-controller="movement.ctrl"
                       ng-click="modalToAddOrEditClickListener(provisionalPlan, null, $parent.refresh)" href
                       class="small-left-separation link-color-inverse link-no-decoration">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a ng-click="openProvisionalPlanModal(provisionalPlan, null)" href
                       class="link-color-inverse small-left-separation link-no-decoration">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ui-sref="provisionalPlanDetailsStats({ id : provisionalPlan.id })"
                       class="link-color-inverse small-left-separation link-no-decoration">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </h4>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div ng-repeat="movement in provisionalPlan.movements | orderBy:'-createdAt'">
            <div ng-switch="(($index+1) % 3)">
                <div ng-switch-when="0">
                    <div class="row">
                        <div class="col-sm-4">
                            <div ng-include src="'app/components/movement/views/movementView.html'"></div>
                        </div>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="col-sm-4">
                        <div ng-include src="'app/components/movement/views/movementView.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>