<div class="centered panel panel-default without-margin">
    <div class="panel-heading">
        <h3>Confirmation</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    <small>{{confirmationMessage}}
                        </small>
                </h2>
            </div>
        </div>
        <div class="pull-right margin-top-10">
            <button class="btn btn-primary" ng-click="ok()">Confirmer</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
    </div>
</div>