<div class="panel panel-default cursor" ui-sref="provisionalPlanDetails({id:provisionalPlan.id})">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <strong>
                        {{provisionalPlan.name}}
                    </strong>:
                <span ng-style="getTotalMovementsOf(provisionalPlan) > 0 ? {'color':'green'} : {'color':'red'}">
                    {{getTotalMovementsOf(provisionalPlan)}}€
                </span>
                </h4>
            </div>
        </div>
    </div>
</div>