<div class="centered panel panel-default without-margin">
    <div class="panel-heading">
        <h3 class="h3-responsive"><strong>Changement du mot de passe</strong></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" ng-submit="signup(passwordChangementForm.$valid)" name="passwordChangementForm">
                    <div class="form-group">
                        <div class="form-group"
                             ng-class="{ 'has-error' : passwordChangementForm.holdPassword.$invalid && !passwordChangementForm.holdPassword.$pristine }">
                            <label for="holdPassword">Ancien mot de passe</label>
                            <input id="holdPassword" type="password" class="form-control" name="holdPassword"
                                   ng-model="userInput.holdPassword" ng-minlength="6" required="required">

                            <p ng-show="passwordChangementForm.holdPassword.$error.minlength" class="help-block">Mot de
                                passe trop court. Minimum 6 caractères.</p>
                        </div>
                        <div class="form-group">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : passwordChangementForm.newPassword.$invalid && !passwordChangementForm.newPassword.$pristine }">
                                <label for="newPassword">Nouveauot de passe</label>
                                <input id="newPassword" type="password" class="form-control" name="newPassword"
                                       ng-model="userInput.newPassword" ng-minlength="6" required="required">

                                <p ng-show="passwordChangementForm.newPassword.$error.minlength" class="help-block">Mot
                                    de passe trop court. Minimum 6 caractères.</p>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : passwordChangementForm.passwordConfirm.$invalid && !passwordChangementForm.passwordConfirm.$pristine }">
                                <label for="passwordConfirm">Veuillez confimer votre mot de passe</label>
                                <input id="passwordConfirm" type="password" class="form-control" name="passwordConfirm"
                                       ng-model="userInput.passwordConfirm" ng-minlength="6" required="required">

                                <p ng-show="passwordChangementForm.passwordConfirm.$error.minlength" class="help-block">
                                    Mot de passe trop court.
                                    Minimum 6 caractères.</p>

                                <p ng-show="passwordChangementForm.passwordConfirm.$invalid && !passwordChangementForm.passwordConfirm.$pristine"
                                   class="help-block">Le mot de passe ne correspond pas.</p>
                            </div>
                            <!-- <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-lg" ng-disabled="signupForm.$invalid">S'inscrire
                                </button>
                            </div> -->
                </form>
            </div>
        </div>
        <div class="pull-right margin-top-10">
            <button class="btn btn-primary" ng-click="ok(passwordChangementForm.$valid)">Enregistrer</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
    </div>
</div>